{% block content %}{% endblock %}
{% block scripts %}{% endblock %}

{% if request.headers.get('HX-Request') %}
<div id="flash-messages" hx-swap-oob="true" class="container mt-4">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% for category, message in messages %}
			<div class="alert alert-{{ category }} alert-dismissible fade show shadow-sm" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endwith %}
</div>
{% endif %}